<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.8.55/css/materialdesignicons.min.css"
            rel="stylesheet" />
        <% if (NODE_ENV === 'development') { %>
        <script src="http://localhost:8098"></script>
        <% } %>
    </head>

    <body>
        <div id="app"></div>
        <script src="options.js"></script>
    </body>
</html>
